<%= turbo_frame_tag "new_task" do %>
  <%= form_with model: task, local: false do |form| %>
    <% if task.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
          <% task.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <style>
            .select-wrapper {
          position: relative;
          display: inline-block;
          width: 100%;
        }

        .select-wrapper select {
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          padding-right: 50px; 
          width: 100%;
          height: 30px;
          line-height: 30px;
        }

        .select-wrapper::after {
          content: "▼";
          color: white;
          font-size: 14px;
          background: #007AA2;
          background: linear-gradient(to top, #005f7a, #00CFFF); 
          padding: 6px 10px;     
          border-radius: 0 4px 4px 0; 
          
          position: absolute;
          top: 0;          
          bottom: 0;      
          right: 0;        
          display: flex;       
          align-items: center;
          pointer-events: none;
        }

    </style>

    <div>
      <%= form.label :name, "Nome da Tarefa:", style: "display: block; color: #007AA2;" %>
      <%= form.text_field :name, style: "background-color: #d8d8d8ff; margin-bottom: 20px; width: 100%;"%>
    </div>

    <div id="date" style="display: flex; justify-content: center;">
      <div style="width: 50%;">
        <%= form.label :beginning, "Ínicio:", style: "width: 100%; display: block; color: #007AA2; text-align: center; background-color: #d8d8d8ff; border: 1px solid black;"%>
        <%= form.date_field :beginning, style: "background-color: #d8d8d8ff; width: 100%; margin-bottom: 20px;" %>
      </div>

      <div style="width: 50%;"> 
        <%= form.label :end, "Conclusão:", style: "width: 100%; display: block; color: #007AA2; text-align: center; background-color: #d8d8d8ff; border: 1px solid black;" %>
        <%= form.date_field :end, style: "background-color: #d8d8d8ff; width: 100%; margin-bottom: 20px;" %>
      </div>
    </div>

    <div id="status" style="display: flex; justify-content: space-between; gap:10px;">
      <div>
        <div style="">
          
          <%= form.label :estimated_cost, "Custo Estimado (R$):", style: "display: block; color: #007AA2;" %>
          
        </div>
        <div style="display: flex;">
          <div class="imagem-container" style=" background: linear-gradient(to top, #005f7a, #00CFFF); background-color: #007AA2; height: 30px; width: 30px; display: flex; justify-content: center; align-items: center; border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
              <p style="color: white;">R$</p>
          </div>
          <%= form.text_field :estimated_cost, style: "background-color: #d8d8d8ff;  margin-bottom: 50px; width: 50%;  border-top-left-radius: 0px; border-bottom-left-radius: 0px;" %>
        </div>
      </div>
    
      <div>
        <div>
          <%= form.label :status, "Status da Tarefa:", style: "display: block; color: #007AA2;" %>
          <div class="select-wrapper">
            <%= form.select :status, ["Concluída", "Pendente", "Em andamento"], { prompt: " " }, style: "background-color: #d8d8d8ff; width: 100%;" %>
          </div>
        </div>
      </div>
    </div>

    <div style="display: flex; justify-content: flex-end; gap:2px;">
      <div id="back" style="display: flex; ">
        <div class="imagem-container" style="box-shadow: 0 4px 6px rgba(0,0,0,0.3);  background: linear-gradient(to top, #005f7a, #00CFFF);  background-color: #007AA2; height: 30px; width: 30px; display: flex; justify-content: center; align-items: center; border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
          <button type="button" style="display: flex; background: none; border: none;" data-bs-dismiss="modal">
            <%= image_tag "back.png", alt: "back", style: "box-shadow: 0 4px 6px rgba(0,0,0,0.3); height: 25px; width: 25px; border-top-right-radius: 0px; border-bottom-right-radius: 0px;" %>
          </button>
        </div>
        <p style="box-shadow: 0 4px 6px rgba(0,0,0,0.3); border: 1px solid black; border-top-left-radius: 0px; border-bottom-left-radius: 0px;">Voltar</p>
      </div>
      <div class="btn-group">
        <% if task.persisted? %>
          <div id="delete" data-bs-toggle="dropdown" aria-expanded="false" style="display: flex; border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
            <div class="imagem-container" style="box-shadow: 0 4px 6px rgba(0,0,0,0.3);  background: linear-gradient(to top, #c90000ff, #e40303ff);  background-color: #dd2d01ff; height: 30px; width: 30px; display: flex; justify-content: center; align-items: center; border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
              <button type="button" style="display: flex; background: none; border: none;">
                <%= image_tag "trash.png", alt: "delete", style: "height: 25px; width: 25px; border-top-right-radius: 0px; border-bottom-right-radius: 0px;" %>
              </button>
            </div>
              <p style="box-shadow: 0 4px 6px rgba(0,0,0,0.3); border: 1px solid black; border-top-left-radius: 0px; border-bottom-left-radius: 0px;">Deletar</p>
          </div>

          <ul class="dropdown-menu p-3" style="min-width: 300px;">
          <div style="display: flex; font-size: small; align-items: center; ">
            <%= image_tag "info.png", alt: "info", style: "height: 25px; width: 25px;" %>
            <li style="margin-right: 5px"><strong>Deseja excluir?</strong></li>
            <li>
              <div style="display: flex;">
                <%= link_to task_path(task), data: { turbo_method: :delete }, style: "width: 50px; display: flex; text-decoration: none; color: black; border: 1px solid black; padding: 2px; margin-right: 5px" do %>
                  <div class="imagem-container" style="background-color: #d8d8d8ff; height: 30px; width: 100%; display: flex; justify-content: center; align-items: center;">
                    <%= image_tag "yes.png", alt: "info", style: "height: 25px; width: 25px;" %>
                    Sim
                  </div>
                <% end %>
              </div>
            </li>
            <li>
              <div style="display: flex;">
                <%= link_to "#", data: { bs_toggle: "dropdown" }, style: "width: 50px; display: flex; text-decoration: none; color: black; border: 1px solid black; padding: 2px" do %>
                  <div class="imagem-container" style="background-color: #d8d8d8ff; height: 30px; width: 100%; display: flex; justify-content: center; align-items: center;">
                      <%= image_tag "no.png", alt: "info", style: "height: 25px; width: 25px;" %>
                      Não
                  </div>
                <% end %>
              </div>
            </li>
          </div>
        </ul>
        <% end %>
      </div>
      <div id="save" style="display: flex; justify-content: flex-end;">
        <div class="imagem-container" style="box-shadow: 0 4px 6px rgba(0,0,0,0.3); background: linear-gradient(to top, #38c700ff, #2ea300ff);  background-color: #00a223ff; height: 30px; width: 30px; display: flex; justify-content: center; align-items: center; border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
          <%= form.button type: "submit", style: "background: none; border: none; display: flex;" do %>
            <%= image_tag "save.png", alt: "save", style: "height: 25px; width: 25px; border-top-right-radius: 0px; border-bottom-right-radius: 0px;" %>
          <% end %>
        </div>
        <p style="box-shadow: 0 4px 6px rgba(0,0,0,0.3); border: 1px solid black; border-top-left-radius: 0px; border-bottom-left-radius: 0px;">Salvar</p>
      </div>
    </div>
  <% end %>
<% end %>

<script>
  document.addEventListener("turbo:submit-end", (event) => {
  const modal = document.querySelector('.modal.show');
  if(modal) {
    const instance = bootstrap.Modal.getInstance(modal);
    if(instance) instance.hide();
  }
});
</script>