<%= turbo_stream.replace dom_id(@task) do %>
 <div class="accordion-item">
              <h2 class="accordion-header" style="box-shadow: 0 4px 6px rgba(0,0,0,0.3); width: 100%; display: flex; background-color: #d8d8d8ff;"; id="heading<%= @task.id %>">
                <button class="accordion-button collapsed" type="button" style="border: 1px solid black; background-color: #d8d8d8ff;"
                        data-bs-toggle="collapse" 
                        data-bs-target="#collapse<%= @task.id %>" 
                        aria-expanded="false" 
                        aria-controls="collapse<%= @task.id %>">
                  <%= @task.name %>
                </button>
                <button type="button" style="box-shadow: 0 4px 6px rgba(0,0,0,0.3); border-radius: 5px; background: none; border: none; border: 1px solid black; " data-bs-toggle="modal" data-bs-target="#editTaskModal_<%= @task.id %>">
                    <%= image_tag "edit.png", alt: "logo", style: "height: 25px; width: 25px; vertical-align: baseline;" %>
                </button>
              </h2>
              <div id="collapse<%= @task.id %>" 
                  class="accordion-collapse collapse" 
                  aria-labelledby="heading<%= @task.id %>" 
                  data-bs-parent="#tasksAccordion">
                <div class="accordion-body" style="box-shadow: 0 4px 6px rgba(0,0,0,0.3); width: 100%; padding-top: 1rem;padding-right: 0rem;padding-bottom: 1rem;padding-left: 0rem;">
                  
                  <div id="date" style="display: flex; justify-content: center;">
                    <div>
                      <p style="box-shadow: 0 4px 6px rgba(0,0,0,0.3); padding: 10px; display: block; color: #007AA2; text-align: center; background-color: #d8d8d8ff; border: 1px solid black;">Início</p>
                      <p style="box-shadow: 0 4px 6px rgba(0,0,0,0.3); padding: 10px; display: block; color: #007AA2; text-align: center; background-color: #d8d8d8ff; border: 1px solid black;"><%= @task.beginning %></p>
                    </div>

                    <div>
                      <p style="box-shadow: 0 4px 6px rgba(0,0,0,0.3); padding: 10px; display: block; color: #007AA2; text-align: center; background-color: #d8d8d8ff; border: 1px solid black;">Conclusão</p>
                      <p style="box-shadow: 0 4px 6px rgba(0,0,0,0.3); padding: 10px; display: block; color: #007AA2; text-align: center; background-color: #d8d8d8ff; border: 1px solid black;"><%= @task.end %></p>
                    </div>
                  </div>
                  <br>
                  <div id="status" style="display: flex; justify-content: center; gap: 30px;">
                    <div>
                      <div style="text-align: center;">
                        <p style="color: #007AA2;">Custo Estimado</p>
                        <p><%= @task.estimated_cost %></p>
                      </div>
                    </div>
                    
                    <div>
                      <div style="text-align: center;">
                        <p style="color: #007AA2;">Status</p>
                        <p><%= @task.status %></p>
                      </div>
                    </div>
                  </div>

                  <br>
                  <div style="padding: 10px; box-shadow: 0 4px 6px rgba(0,0,0,0.3);  background-color: #d8d8d8ff; height: 50px; width: 100%; display: flex; gap: 10px; align-items: center;">
                    <%= image_tag "commentary.png", alt: "logo", style: "height: 25px; width: 25px;" %>
                    <p>Comentários</p>
                  </div>
                  

                  <div id="comments-container" style="align-items: center">
                    
                    <% commentaries = Commentary.where(task_id: @task.id) %>
                    <% if commentaries.size > 0 %> 
                      <br>
                    <% end %>
                    <% commentaries.each_with_index do |commentary, index| %>
                      <div class="comment <%= 'hidden-comment' if index >= 2 %>">
                        <div style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); display: block; text-align: left; margin-bottom: 1rem;">
                          <div style="display:flex; align-items: flex-start; gap: 10px;">
                            
                            <div>
                              <%= image_tag "user.png", alt: "logo", style: "height: 75px; width: 75px;" %>
                            </div>

                            <div style="width: 100%;">
                              <div id="delete" style="display: flex; justify-content: space-between; align-items: center;">
                                <p style="color:#007AA2; margin: 0;"><%= commentary.name %></p>
                                <%= link_to commentary_path(commentary), class: "btn btn-secondary btn-sm", data: { turbo_method: :delete }, style: "display: flex; background: none; border: none; gap: 5px;" do %>
                                  <div class="imagem-container" style="box-shadow: 0 4px 6px rgba(0,0,0,0.3); background-color: #d8d8d8ff; height: 30px; width: 30px; display: flex; justify-content: center; align-items: center;">
                                    <%= image_tag "trash.png", alt: "delete", style: "height: 25px; width: 25px;" %>
                                  </div>
                                  
                                <% end %>
                              </div>

                              <p style="word-wrap: break-word; overflow-wrap: break-word; margin: 5px 0; width: 70%">
                                <%= commentary.text %>
                              </p>

                              <p style="color:#007AA2; font-size: small; margin: 0;">Comentado em: <%= commentary.date %></p>
                            </div>
                          </div>
                          <hr style="margin-top: 10px;"/>
                        </div>
                      </div>
                    <% end %>

                    <div style="display: flex; justify-content: center">
                      <% if commentaries.size > 2 %> 
                        <button id="show-more-comments" class="btn btn-primary" style="background: linear-gradient(to top, #38c700ff, #2ea300ff);  box-shadow: 0 4px 6px rgba(0,0,0,0.3); background-color: #33b400ff">
                          <div style="display: flex; justify-content: center; align-items: center">
                            Ver Mais Comentários
                            <div id="show-more-comments" class="imagem-container" style="background: linear-gradient(to top, #38c700ff, #2ea300ff);  background-color: #33b400ff; height: 38px; width: 38px; display: flex; justify-content: center; align-items: center;">
                                <%= image_tag "down_arrow.png", alt: "logo", style: "padding: 3px; height: 30px; width: 30px;" %>
                            </div>
                          </div>
                        </button>
                      <% end %>
                    </div>
                    <br><br>
                    
                    <% if commentaries.empty? %>
                      <p style="text-align: center">Sem comentários ainda!</p>
                    <% end %>
                    <br>

                  </div>
                  <div style="padding: 10px;">
                    <%= render 'commentaries/form', commentary: Commentary.new, task: @task %>
                  </div>
                </div>
              </div>
            </div>
<% end %>

<%= turbo_stream.update "edit_task_#{@task.id}" do %>
<% end %>