<div id="<%= dom_id commentary %>">
  <p>
    <strong>Name:</strong>
    <%= commentary.name %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= commentary.text %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= commentary.task_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= commentary.date %>
  </p>

</div>
