<%= form_with(model: commentary) do |form| %>
  <% if commentary.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(commentary.errors.count, "error") %> prohibited this commentary from being saved:</h2>

      <ul>
        <% commentary.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div >
    <%= form.textarea :text, style: "width: 100%" %>
  </div>

  <%= form.hidden_field :task_id, value: task.id %>
  <%= form.hidden_field :date, value: Date.today %>
  <%= form.hidden_field :name, value: "Rodrigo" %>

  <div id="save" style="display: flex; justify-content: flex-end;">
    <%= form.button type: "submit", style: "background: none; border: none; display: flex; justify-content: flex-end;" do %>
      <%= image_tag "email.png", alt: "save", style: "height: 25px; width: 25px;" %>
      <p>Enviar Comentário</p>
    <% end %>
  </div>

<% end %>
